* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.menu {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.menu1 {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.box {
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.top1 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.top2 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.top3 {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.top4 {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.middle1 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.middle2 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.middle3 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.middle4 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.bottom1 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.bottom2 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.bottom3 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.bottom4 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  text-align: center;
  line-height: 120px;
  background-color: gray;
}

.footer-color {
  color: white;
}
